<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Select file to upload:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Upload</button>
    </form>

    <!-- Button to navigate to the Uploaded Files section -->
    <a href="{{ url_for('uploaded_files') }}">
        <button type="button">View Uploaded Files</button>
    </a>
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
